<div class="uk-section uk-section-secondary">
  <div class="uk-container">
    <h3>How to use</h3>
    <div class="uk-flex uk-flex-column">
      <div>
        <p>Paste a playlist of the album.</p>
      </div>
      <div>
        <p>
          The <strong>required information is track name when the track starts.</strong>
          <strong>Look up in the description or the comment section of the video.
            Usually the playlist is
            there.</strong>
        </p>
      </div>
      <div>
        <p>For videos longer than an hour the format should be either hh:mm:ss or h:mm:ss so 0:03:25
          or 00:03:25</p>
      </div>
    </div>

  </div>
</div>