<!-- TODO: LOADER: MAKE SERVICE FOR SHOWING IT? -->
<div id="loader" class="hidden">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div id="container" class="uk-background-muted uk-box-shadow-large uk-container">
  <!-- TODO: ALERTS: MAKE SERVICE FOR SHOWING THEM -->
  <div uk-alert class="uk-alert-danger hidden alert">
    <p class="alert-text">Invalid tracklist!</p>
  </div>
  <h1 class="heading">Youtube Album Downloader</h1>
  <form [formGroup]="downloadAlbumForm">

    <!-- <div id="input-wrap">
      <input class="URL-input uk-input" placeholder="Video URL e.g. https://www.youtube.com/watch?v=MtN1YnoL46Q">
      <button type="submit" class="convert-button uk-button uk-button-danger">Send</button>
    </div> -->
    <app-url-input controlName="url" [parent]="downloadAlbumForm" [disabled]="disabled" (send)="onSubmit()">
    </app-url-input>
    <app-how-to-use></app-how-to-use>
    <app-tracklist-textarea controlName="tracklist" [parent]="downloadAlbumForm"></app-tracklist-textarea>
    <!-- <textarea class="uk-textarea" name="description" id="description" rows="15"
      placeholder="Paste the tracklist of the album. Format is hh:mm:ss"></textarea> -->
  </form>
</div>

<!-- Playlist  -->
<!-- <section id="playlist">
    <div class="uk-flex uk-flex-right uk-padding-small">
      <button class="uk-button uk-button-danger download-zip-btn hidden">Download ZIP</button>
    </div>
    <h2 class="hidden">Weird Owl - Nuclear Psychology (2007) (Full Album)</h2>
    <div class="
      uk-box-shadow-hover-large
      uk-flex 
      uk-box-shadow-medium 
      uk-padding-small 
      uk-margin 
      uk-flex-between 
      tracklist
      hidden 
     ">
      <img src="https://i.ytimg.com/vi/pQCfnMeEv3w/default.jpg" width="150" alt="">
      <div class="uk-padding">
        <span class="song-info">Second song - 00:30</span>
      </div>
      <div class="uk-margin-auto-top">
        <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom download-btn">Download</button>
        <button class="uk-button uk-button-primary uk-width-1-1 listen-btn">Listen</button>
      </div>
    </div>
  </section> -->