#container {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #282828;
    text-align: center;
    min-height: 100%;
}

@media(min-width: 460px) and (max-width: 1000px) {
    #container {
        width: 100%;
    }
}