<h1>Album Ready!</h1>

<section id="playlist" *ngIf="tracklist$ | async as tracklist">
  <div class="uk-flex uk-flex-right uk-padding-small">
    <button class="uk-button uk-button-danger download-zip-btn"
      (click)="onDownloadZipClicked(tracklist?.albumName);">Download ZIP</button>
  </div>
  <h2>{{tracklist?.albumName}}</h2>
  <div class="
  uk-box-shadow-hover-large
  uk-flex 
  uk-box-shadow-medium 
  uk-padding-small 
  uk-margin 
  uk-flex-between 
  tracklist
 " *ngFor="let track of tracklist?.playlist">
    <img [src]="track.tumbnail" width="150" alt="">
    <div class="uk-padding">
      <span class="song-info">{{track.songName}} - {{track.songBegin}}</span>
    </div>
    <div class="uk-margin-auto-top">
      <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom download-btn"
        (click)="onDownloadClicked(tracklist?.albumName, track?.songName);">Download</button>
      <button class="uk-button uk-button-primary uk-width-1-1 listen-btn"
        (click)="onListenClicked(tracklist?.albumName, track?.songName);">Listen</button>
    </div>
  </div>
</section>